.sectionOne{
    flex-direction: column;
    margin: 0 auto 5rem;
    padding: 0 3rem;
}
.feature{
    width: 100%;
    gap: 1rem;
}

/* features */
.feature >div:last-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}
.ft{
    background-color: var(--bg-color-gray);
    padding: 1rem;
    border-radius: 1rem;
    height: 15rem;
    width: 18rem;
    transition: 0.4s;
}
.ft:hover{
    transform: scale(1.4);
    z-index: 111;
    background:var(--text-color-black2);
}

.ft:hover h4{
    color: hsl(200, 10%, 95%);
}
.ft:hover p:first-of-type{
    
    color: hsl(200, 10%, 70%);
}
.ft:hover p:last-of-type a{
    
    color: var(--text-color-green);
}

.ft >p:first-of-type{
    font-size: 0.7rem;
    line-height: 1.2rem;
    margin-bottom: 1.8rem;
    color: hsl(200, 10%, 25%);
}
.ft >p:last-of-type{
    font-size: 0.7rem;
    font-weight: bold;
}
.ft h4{
    font-size: 1.1rem;
    color: var(--text-color-black2);
}
.ft a{
    color: hsl(200, 10%, 10%);

}

.ft a:hover span{
    transition: 0.5s;
    display: inline-block;
    transform: translateX(0.2rem);
}

.feature >div:first-of-type h3{
    font-size: 4rem;
    margin-bottom: 1.5rem;


}

.feature >div:first-of-type p{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-gray);
    line-height:2.5rem;
    margin-top: 0;

}
.feature >div:first-of-type{
    margin-left: 3rem;
}

.ftButton1{
    flex: 0 1 40%;
    
   margin-right: 1rem                                                                                                                   ;
    

}
.ftButtons{
    justify-content: flex-start;
}





   /* ***************************  Features 2  ******************* */
   .feature2{
    width: 100%;
    justify-content: space-between;
    padding: 7rem 5rem;
    align-items: flex-start;
}

.feature2 h3{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    width: 60%;
    margin-top: 0;

}
.feature2 p{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-gray);
    line-height: 2.5rem;
    margin-top: 0;
    width: 50%;
    margin-left: 3rem;
    padding: 0rem;
}



/* ++++++++++++++++++++ FEATURE 3 +++++++++++++++++++++++++ */
.feature3{
    width: 100%;
    gap: 3rem;
}

.population , .population>div   {
    border-radius: 5rem;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.population:hover .popCard2{
    transform: translateY(0%);
    transition: 0.4s;

}
.population   {
    position: relative;
    height: 400px;
    width: 33%;
    text-align: center;
    background-color: var(--bg-color-gray);
    overflow: hidden;
    

}
.popCard3{
    padding: 5rem 2rem;
    

}
.population:hover .popCard3,.population:hover .popCard3 h3,.population:hover .popCard3 p{
    transition: 1s;
    color: white !important;

}
.popCard2{
    background-color: var(--text-color-black);
    transform: translateY(100%);
    transition: 0.4s;


}

.popCard3 h3{
    font-size: 5rem;
    margin: 0;
    color: var(--text-color-black);
}
.popCard3 p{
    font-size: 1.5rem;
    margin: 0;
    color: var(--text-color-black);
    padding-top: 2rem;
}


/* ++++++++++++++++++++++++   FEATURE 4  ++++++++++++++++++++++++++++ */
.feature4{
    width: 100%;
    background-color:var(--text-color-black);
    border-radius: 5rem;
    margin-top: 8rem;
    padding: 5rem 7rem 8rem;
    height: 600px;
    overflow: hidden;

}
.feature4 >div{
    flex: 1 1 50%;
}
.feature4 h3{
    color: var(--text-color-white);
    font-size: 2rem;
}
.ft4Left{
    transform: translateX(-150%);
    transition: 1s;
}
.ft4LeftAdd{
    transform: translateX(0%);
    transition: 1s;
}

.ft4Left p:first-of-type{
    color: var(--text-color-gray);
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.ft4Left a{
    color: var(--text-color-green);
    font-size: 1.3rem;
    font-weight: normal;
    
}
.ft4Left span{
    color: var(--text-color-green);

}
.ft4Left a:hover span{
    transform: translateX(10px);
    display: inline-block;
    transition: 0.5s;
}
.ft4Right{
    position: relative;flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 15rem;
}

.ft4Right img:first-of-type{
    transform-origin: top left;
    transform:  rotate(-80deg);
    transition: 1s;
    margin-left: 15rem;

}
.ft4RightTurn1{
    transform: rotate(0deg) !important;
    transition: 1s;
    
}

.ft4Right img:last-of-type{
    transform-origin: bottom left;
    transform:  rotate(80deg);
    transition: 1s;    
}

.ft4RightTurn2{
    transform: rotate(0deg) !important;
    transition: 1s;
    
}

/* ***************** MEDIA QUERIES ***************** */
@media screen and (max-width: 1120px) {
    .feature >div:first-of-type{
        margin: 0;    }

        .ftButton1{
            flex: auto;
        }

        .ft4Right{
            width: 20%;
        }
}

@media screen and (max-width: 992px) {
    :root{
  
    }  
  .feature{
    flex-direction: column;
  }
  .feature >div:first-of-type h3{
    text-align: center;
    font-size: 3rem;
  }
  .feature >div:first-of-type p{
    text-align: center;
  }
  .ftButtons{
    justify-content: center;
  }
  .ftButton2{
    display: none;
  }
  .feature >div:first-of-type{
    margin: auto;
  }
    
  .feature2{
    padding: 5rem 0;
  }
  .feature3{
    gap: 1rem;
  }

  .popCard3 h3{
    font-size: 3rem;
  }
  .population{
    height:350px
  }
.feature4{
    width: 110%;
}
  .ft4Right{
    width: 50%;
    margin-right: 5rem;
  }
  .ft4Left{
    z-index: 11;
    position: relative;
    flex: 1 0 70% !important;
  }
  
   }


     /* ++++++++++++++++ FOR LARGE TABLETTE +++++++++++++ */
     
     
     @media screen and (max-width: 768px) {

        .feature4{
            position: relative;
        }
        .ft4Right{
            position: absolute;
            margin-bottom: 0;
            
          }
          .ft4Left{
            z-index: 11;
            position: relative;
            flex: 1 0 100% !important;
          }
     }
     /* +++++++++++++++++++ FOR MEDIUM DEVICES +++++++++++++++++++++++++++ */
  
     @media screen and (max-width: 576px) {
        .ftButton1{
            flex: 0 1 100%;
        }
        .feature >div:last-of-type{
            grid-template-columns: 1fr;
        }
        .ft{
            width: 100%;
            text-align: center;
        }
        .ft:hover{
            transform: scale(1.1);
        }

        .feature2{
            flex-direction: column;
            text-align: center;
        }
        .feature2 >*{
            width: 100% !important;
            margin-left: 0 !important;
        }
        .feature2 h3{
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        .feature3{
            flex-direction: column;
        }
        .population{
            width: 90%;
            height: 250px;
        }

        .ft4Left {
            flex: 0 0 170% !important;
            padding: 0rem 1rem;

            
        }
        .ft4Left p{
            color:dimgray !important;
        }
       
     }
     /* +++++++++++++++++++++ FOR SMALL DEVICES++++++++++++++++++++++++ */
  
     @media screen and (max-width: 375px) {
      :root{
  
      }
      .ft{
        width: 110%;
      }

      .feature4{
        width: 135%;
    }
    .ft4Left {
        flex: 0 0 170% !important;
        padding: 1rem 0rem;

        
    }
     }